{% extends 'base.html' %}
{% load static %}

{% block title %}All courses{% endblock title %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/courses.css' %}">
{% endblock style %}

{% block content %}
  <section>
    <div class="container">
      <h1 class="title">Liste des cours</h1>
      <div class="listcourse">
        <table class="table table-hover">
          <tbody>
              {% for course in courses %}
              <tr>
                  <td>{{course.title}}</td>
                  <td>{{course.link}}</td>
           
                  <td>
                    
                    <form method="post" action="{% url 'course_delete' course.pk %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-danger mt-2" onclick="return confirm('Vous voulez vraiment supprimer ce cours ?')">delete</button>
                    </form>
                    
                    <a href="{%url 'course_edit' course.pk %}" class="btn btn-sm btn-success mt-2">update</a>  
                  </form>
                  </td>
              </tr>
              {%endfor%}
          </tbody>
      </table>
      </div>
      <div class="forPagination">
        {% for i in courses.paginator.page_range %}
          {% if courses.number == i %}
            <a href="?page={{i}}" class="btn btn-sm btn-primary me-2">{{i}}</a>
          {%else%}
            <a href="?page={{i}}" class="btn btn-sm btn-outline-primary me-2">{{i}}</a>
          {%endif%}
        {% endfor %}
     </div>
     <a href="{%url 'course_create'%}" class="addcoursBtn">add course</a>

    </div>

  </section>
{% endblock content%}
